body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}
.page-header {
    background-color: black;
    color: white;    
    font-weight: 700;
    line-height: 22px;
}

.navigation-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.visually-hidden {
    /*display: none;*/
}

.main-index {    
    background: url("../images/index-img/bg.jpg") no-repeat black;
    background-position: 100% auto;
    color: white;
}

.foto,
.contact,
.zapis {
    color: #242424;
}

.bkd-ul {
    text-align: center;
}

.middle-section,
.div-2 {
    background: url("../images/index-img/pattern.png") #FBF7F4;
    color: #242424;
}

.bkd-h {
    color: #FFF;   
}

.bkd-p {
    line-height: 24px;    
}

.popular-h,
.foto-h,
.bkd-h,
.contact-h2,
.zapis-h {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
}

.servic-span, 
.servic-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
.servic-price {
    color: #AF7842;
}

.button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 14px 20px;
    line-height: 16px;
}

.krug-button,
.button-one {
    width: 8px; 
    height: 8px;
    background: #BDBDBD;
    border-radius: 50%;    
}
.button-one {    
    background: #242424;    
}

.div-2 {
    color:#242424;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;    
}

.contact-h3 {
    color:#AF7842;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.address {
    text-decoration: none;
    color:#242424;
    font-style: normal;
}

.telephone {
    color: #242424;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
}

.zapis {
    text-transform: uppercase;
}
.zapis-p {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.page-footer {
    background: url("../images/index-img/footer-bg.png") #242424;
    color: #FFF;
}
.footer-adress {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;  
}
.footer-telephone {
    color: white;
    font-size: 20px;
}
.footer-location {    
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.footer-h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;    
}
.create {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;    
}

.footer-link {
    color: #DBB590;
}

/*Catalog*/
.catalog-body {
    font-style: normal;
    color: #242424;
    font-weight: 700;  
    font-size: 16px;
    line-height: 22px;
}

.hleb-a {
    font-weight: 400;
    line-height: 22px;
    color: #242424;    
}

.hleb2 {
    font-weight: 400;
    line-height: 22px;
    color: #595959;     
}

.zagolovok {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
}

.title-h1 {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.filters-content {
    
}

.view-2 {
    background-color: #242424;
    padding: 14px 20px;;
}

.produtc-h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
}

.price {
    color: #814B18;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.button-market {     
    padding: 14px 20px;
    line-height: 52px; 
}

.button-market-activ{
color: black;
background-color: white;
}