body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #FBF7F4;
    color: #242424;
}

.page-header {
    background-color: black;
    color: white;
    font-weight: 700;
    line-height: 22px;
}

.navigation-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;    
}

.enter {
    padding-left: 3px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;  

}

.main-index {
    background: url("../images/index-img/bg.jpg") no-repeat black;
    background-position: center 0;
    color: white;
}

.pfoto-gallery,
.contact,
.record {
    color: #242424;
}

.advantages-list {
    text-align: center;
    list-style-type: none;
}

.middle-section,
.registration {
    background: url("../images/index-img/pattern.png") #FBF7F4;
    color: #242424;
}

.bkd-h {
    color: #FFF;
    margin-top: 0;
}

.bkd-p {
    line-height: 24px;
}

.popular-h,
.foto-h,
.bkd-h,
.contact-h2,
.zapis-h {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 35px;
}

.popular-h,
.foto-h {
   margin: 0; 
   margin-bottom: 28px;
}

.contact-h2,
.zapis-h {
    margin: 0;
    margin-bottom: 24px;
}

.contact-p {
    margin: 0;
    margin-bottom: 8px;
}

.contact-h3 {
    margin: 0;
    margin-bottom: 8px;
}

.adress-midle {
    margin-bottom: 22px;
    list-style-type: none;
}

.work-schedule {
    margin: 0;
    margin-bottom: 35px;
    padding: 0;
    list-style-type: none;

}

.servic-ul {
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
    list-style-type: none;
}

.servic-li {
    padding-bottom: 22px;
}

.servic-span,
.servic-price {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.servic-price {
    color: #AF7842;
}

.button {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: black;
    color: white;
    font-weight: 700;
    line-height: 16px;
    width: 130px;
    padding: 14px 20px;
    
}

.krug-button,
.button-one {
    width: 8px;
    height: 8px;
    background: #BDBDBD;
    border-radius: 50%;
}

.button-one {
    background: #242424;
}

.registration {
    color: #242424;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 60px;
}

.button-road {
    margin-right: 16px;
}

.contact-h3 {
    color: #AF7842;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.address {
    text-decoration: none;
    color: #242424;
    font-style: normal;
}

.telephone {
    color: #242424;
    text-transform: uppercase;
    text-decoration-line: underline;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
}

.record {
    text-transform: uppercase;
}

.zapis-p {
    color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 24px;
}

.page-footer {
    background: url("../images/index-img/footer-bg.png") #242424;
    color: #FFF;
}

.footer-adress {
    padding-bottom: 16px;
}

.footer-adress-p {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.footer-telephone {
    color: white;
    font-size: 20px;
}

.footer-location {
    color: #FFF;
    font-size: 20px;
    line-height: normal;
    text-transform: uppercase;
    text-decoration-line: underline;
}

.footer-h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.footer-titile {
    margin: 0;
    padding: 0;
    padding-bottom: 14px;   
}

.contact-footer {
    margin: 0;
    padding: 0;
}

.footer-create {
    margin: 0;
    padding: 0;
}

.create {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.footer-link {
    color: #DBB590;
}

/*Catalog*/
.catalog-body {
    font-style: normal;
    color: #242424;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.breadcrumbs-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbs-item-current {
    font-weight: 400;
    line-height: 22px;
    color: #242424;
    margin-right: 32px;
    color: black;  
}

.breadcrumbs-link-current {
    color: #000;

}

.breadcrumbs-item-other {
    font-weight: 400;
    line-height: 22px;
    color: #595959;
}

.breadcrumbs-link-current {
    
}


.zagolovok {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000;
}

.title-h1 {
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 16px;
}

/*.filters-content {
    
}*/

.view-2 {
    background-color: #242424;
    padding: 14px 20px;
    ;
}

.produtc-h3 {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: #000;
}

.price {
    color: #814B18;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

.button-market {
    padding: 14px 20px;
    line-height: 52px;
}

.button-market-activ {
    color: black;
    background-color: white;
}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}



.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.navigation-list-1 {
    padding: 0;
    margin: 0;
    width: 430px;
    list-style-type: none;
    display: flex;
    padding: 24px 0;
    flex-wrap: wrap;

}

.navigation-list-2 {
    display: flex;
    justify-content:end;
    width: 300px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    padding: 24px 0;
}

.navigation-list-2 .navigation-link {
    min-width: 16px;
    min-height: 22px;    
}

.navigation-item {
    display: flex;
    padding: 0 20px;
}


.main-container {
    flex-grow: 1;
}

.page-container-index {
    width: 940px;
    margin: 0 auto;
}

.main-logo-1 {
    margin: 64px auto;
    display: block;   
}

.advantages {
    margin-top: 0;
    margin-bottom: 56px;
    padding-top: 0;

}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.advantages-item {
    width: 277px;
}

.middle-section {
    padding: 0 40px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.popular {
    display: flex;
    flex-direction: column;
    width: 390px;
}

.pfoto-gallery {
    width: 390px;
}

.registration {
    display: flex;
    padding: 40px;
}

.contact {
    width: 350px;
    padding-right: 78px;
}

.record {
    width: 430px;
}

.page-footer-container {
    display: flex;
    margin: 0 auto;
    width: 940px;
    justify-content: space-between;

    /*outline: 5px solid green;
    outline-offset: -3px;*/
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    width: 187px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-section-2 {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer-section-3 {
    display: flex;
    flex-direction: column;
    width: 184px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.social-list {
    margin: 0;
    padding: 0;
    padding-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;

}

/* Catalog */

.navigation-list-3 {
    margin: 0;
    padding: 0;
    width: 320px;
    margin-right: 212px;
}

.navigation-list-4 {
    margin: 0;
    padding: 0;
    width: 170px;
}

.create {
    padding-top: 36px;
}

.header-img {
    width: 138px;
    margin-right: 100px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.page-container-catalog {
    display: flex;
    flex-direction: column;
    width: 940px;
    margin: 0 auto; 
}

.page-container-catalog li {
    list-style-type: none; 
}


.catalog-products {  
    display: flex;
}

.catalog-filters {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-right: 20px;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 700px;

    outline: 3px solid green;
    outline-offset: -3px;
}

.inner-header {
    display: flex;
    flex-direction: column;
}

.appointment-form {
    margin: 0;
    padding: 0;    
}


/*catalog*/

.page-container-catalog {
    padding: 40px;
    padding-bottom: 60px;
}

.filters {
    display: flex;
}

.top-right-filters {
    display: flex;
    background-color: #FFF;
    width: 700px;
    height: 76px;   
}

.top-right-filters-list {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 16px;
    padding-bottom: 16px;

}

.trf-one {
    margin-left: 16px;
    margin-right: 296px;
}

.trf-two {
    width: 56px;
    height: 44px;

}

.top-filter-form {
    width: 260px;
    height: 44px;
}

.top-link-two {
    width: 56px;
    height: 44px;    
}


/* trf-two делаю кнопку посредине чтоб кликалась по площади. 01:12:29/