body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: black;
    color: #242424;
}
.page-header {
    background-color: black;
    color: white;    
    font-weight: 700;
    line-height: 22px;
}

.navigation-link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.visually-hidden {
    /*display: none;*/
}

.main-index {
    background-color: aliceblue;
    background: url("../images/index-img/bg.jpg") no-repeat;
    color: white;
}    
